<footer class="footer">
  <div class="footer__container">
    <section>
      <h2 class="footer__title">Sobre</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam rhoncus
        tristique orci, ac cursus leo maximus eget. Phasellus at nisi tempus,
        tristique urna quis, tincidunt elit. Interdum et malesuada fames ac ante
        ipsum primis in faucibus. Nunc id arcu varius, dapibus massa vel,
        eleifend odio.
      </p>
    </section>
    <address class="adress">
      <h2 class="footer__title"></h2>
      <ul>
        <li><i class="fa-regular fa-envelope"></i> a@email.com</li>
        <li><i class="fa-regular fa-phone"></i> +556299999</li>
        <li><i class="fa-brands fa-whatsapp"></i> (00)9999999</li>
      </ul>
    </address>
  </div>
  <section class="footer__copyright">&copy; Todos direitos reservados</section>
</footer>
